.o-search {
  $root: &;
  @apply relative w-full min-h-[40px] rounded-lg flex flex-col gap-1 m-auto p-2 z-10;

  &.-focus {
    background-color: $MODAL-BACKGROUND;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  &_body {
    @apply transition-all duration-[400] ease-linear rounded-lg py-1 w-full z-10;

    &.-open {
      @apply h-full visible;
    }
  }

  .a-input-group {
    @apply rounded-lg w-full min-h-[40px] z-50;
  }

  &_input {
    &_icon {
      display: inherit;
    }
  }

  &_title {
    @apply px-2;

    p,
    strong {
      @apply m-0;
    }

    p {
      @apply overflow-hidden text-ellipsis whitespace-nowrap;
      color: $SECONDARY-TEXT;
    }

    strong {
      color: $PRIMARY-TEXT;
    }
  }

  &_list {
    @apply overflow-y-auto;

    &::-webkit-scrollbar {
      @apply w-[10px];
    }

    &::-webkit-scrollbar-track {
      @apply rounded;
      background: $DIVIDER;
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded;
      background: $HOVER-OVERLAY;
    }

    #{$root}_item {
      @apply flex items-center gap-2 p-2 rounded-lg overflow-hidden cursor-pointer;

      &:hover {
        background-color: $INTERACTIVE-BACKGROUND;
      }

      &_icon {
        @apply flex items-center justify-center w-9 min-w-[36px] h-9 rounded;
        background-color: rgb(98 89 89);

        svg {
          @apply w-5 h-5;
        }
      }

      $thumbnail-width: 64px;
      &_thumbnail {
        @apply w-16 min-w-[64px] h-9;

        img {
          @apply w-full h-full rounded;
        }
      }

      &_info {
        @apply flex flex-col flex-1 gap-1 justify-between;
        width: calc(100% - #{$thumbnail-width} - 0.25rem);

        &_name {
          @apply inline-block min-w-[30%] overflow-hidden;

          h4 {
            @apply m-0 overflow-hidden text-ellipsis whitespace-nowrap;
            color: $PRIMARY-TEXT;
          }
        }

        &_author {
          @apply inline-block w-fit min-w-[20%] overflow-hidden;

          p {
            @apply m-0 overflow-hidden text-ellipsis whitespace-nowrap;
            color: $SECONDARY-TEXT;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .o-search {
    @apply w-[600px] gap-0;

    &_list {
      @apply max-h-[400px];
    }
  }
}
