@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'assets/styles/_variables';
@import 'assets/styles/_fonts';
@import 'assets/styles/_mixins';
@import 'assets/styles/_functions';
@import 'assets/styles/_globals';
@import 'assets/styles/_reset';
@import 'assets/styles/_zIndex';

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: pxtorem(8);
}

::-webkit-scrollbar-thumb {
  // background: $DIVIDER;
  border-radius: pxtorem(4);
}

::-webkit-scrollbar-track:hover {
  // background: $HOVER-OVERLAY;
}

[data-theme='light'] {
  --primary-text: 31 41 55;
  --secondary-text: 55 65 81;
  --accent-text: 33 96 88;
  --contrast-text: 0 0 0;
  --body-background: 255 255 255;
  --sidebar-background: 251 251 251;
  --interactive-background: 235 235 235;
  --accent-background: 33 96 88;
  --loading-background: 235 235 235;
  --modal-background: 240 239 239;
  --player-controls-background: 245 245 245;
  --navigation-background: 245 245 245;
  --contrast-background: 0 0 0;
  --hover-overlay: 0 0 0;
  --modal-overlay: 0 0 0;
  --divider-overlay: 209 213 219;
  --divider: 218 216 216;
}

html {
  font-size: $FONT-SIZE-HTML;
  word-break: break-word;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: $FONTFAMILY-BASIC;
  // color: $SECONDARY-TEXT;
  // background-color: $BODY-BACKGROUND;
}

p {
  font-size: pxtorem($FONT-SIZE-HTML-VALUE);

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

img {
  max-width: 100%;
}

button,
select {
  font-family: inherit;

  &:focus {
    border: none;
    outline: none;
    appearance: none;
  }
}

[role='button'],
button,
a {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

// [data-loading='true'] {
//   pointer-events: none;
//   user-select: none;

//   [data-loading='inherit'] {
//     background-color: $LOADING-BACKGROUND;
//     border-radius: 4px;

//     & > * {
//       visibility: hidden;
//       opacity: 0;
//     }
//   }
// }
