.o-playerControls {
  $root: &;
  background-color: $PLAYER-CONTROLS-BACKGROUND;
  @apply relative flex;

  &.mobile {
    background-color: $PLAYER-CONTROLS-BACKGROUND;

    &.full {
      @apply fixed inset-0 z-50 h-full p-4;
    }
  }

  &.desktop {
    @apply p-4;
  }

  &.mini {
    @apply gap-4 items-center py-2 px-3;

    #{$root}__header {
      @apply hidden;
    }

    #{$root}__image {
      #{$root}__inner {
        @apply w-10;
      }
    }

    #{$root}__time {
      @apply absolute bottom-0 left-0 w-full;

      #{$root}__value {
        @apply hidden;
      }
    }

    #{$root}__info {
      @apply flex-grow overflow-hidden;
    }

    #{$root}__actions {
      @apply gap-4;

      #{$root}__item {
        &.repeat,
        &.shuffle {
          @apply hidden;
        }
      }
    }
  }

  &.full {
    @apply flex-col gap-4 h-full;

    #{$root}__header {
      @apply flex justify-between;

      #{$root}__title {
        @apply w-fit;

        h2 {
          @include text(heading);
          @apply m-0;
        }
      }
    }

    #{$root}__image {
      @apply flex flex-grow items-center justify-center p-8;

      #{$root}__inner {
        @apply w-full;
      }
    }

    #{$root}__time {
      @apply flex flex-wrap gap-1 justify-between w-full;

      #{$root}__progress-bar {
        @apply w-full;
      }

      #{$root}__value {
        span {
          @include text(caption);

          color: $SECONDARY-TEXT;
        }
      }
    }

    #{$root}__actions {
      @apply justify-between;
    }
  }

  &__image {
    #{$root}__inner {
      @apply max-w-[450px] max-h-[450px] aspect-square overflow-hidden pointer-events-none select-none rounded-full;

      &.playing {
        animation-name: spin;
        animation-duration: 12000ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      img {
        @apply w-full h-full;
      }
    }
  }

  &__info {
    @apply flex flex-col gap-1;

    #{$root}__name {
      @apply inline-block overflow-hidden;

      h3 {
        @include text(body);
        @apply m-0 overflow-hidden text-ellipsis whitespace-nowrap;
        color: $PRIMARY-TEXT;
      }
    }

    #{$root}__author {
      @apply inline-block;

      p {
        @include text(caption);
        @apply m-0 overflow-hidden text-ellipsis whitespace-nowrap;
        color: $SECONDARY-TEXT;
      }
    }
  }

  &__actions {
    @apply flex;

    #{$root}__item {
      @apply w-6 h-6 p-0 bg-transparent border-0 outline-0;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
