.o-header {
  $logo-width: 36px;
  $title-width: 100px;
  $btn-size: 32px;

  background-color: $BODY-BACKGROUND;
  @apply flex justify-between items-center px-5 h-[3.5rem] max-h-[3.5rem] shadow-lg;

  & > a > h1 {
    width: #{$title-width};
    min-width: #{$title-width};
    color: $PRIMARY-TEXT;
    @apply text-2xl text-center font-bold;
  }

  .logo {
    width: #{$logo-width};
    min-width: #{$logo-width};
    height: 40px;
  }

  &-search {
    @apply ml-auto relative px-4 lg:flex-1;

    & > div {
      width: 100%;
    }
  }

  &_btn {
    width: #{$btn-size};
    min-width: #{$btn-size};
    height: #{$btn-size};
    border-radius: 50%;
    background-color: white;
  }
}
