.o-song-card {
  $root: &;
  @apply flex p-2;

  &:hover {
    background-color: $HOVER_OVERLAY;
  }

  &.horizontal {
    @apply flex-row gap-4 rounded;

    #{$root}_image {
      @apply w-10 h-10 min-w-[40px] max-h-[40px] rounded;
    }

    #{$root}_time {
      @apply min-w-[64px] m-auto text-center;

      time {
        @include text(caption);
        @apply select-none;
      }
    }
  }

  &.vertical {
    @apply relative flex-col gap-2 w-fit rounded;

    &:hover {
      #{$root}_actionlist {
        @apply visible;
      }
    }

    #{$root}_image {
      @apply w-[200px] h-[200px] rounded;
    }

    #{$root}_info {
      @apply gap-1;
    }

    #{$root}_time {
      @apply hidden;
    }

    #{$root}_actionlist {
      @apply absolute right-4 top-[calc(200px-24px)] invisible;
    }
  }

  &.is-playing {
    #{$root}_info {
      &_author {
        @apply flex gap-2 items-center;

        span {
          @apply relative flex items-center w-[2px] h-3 mx-1 rounded-[1px];
          background-color: $ACCENT-BACKGROUND;
          animation: now-playing 1000ms infinite;

          &::before,
          &::after {
            @apply absolute block w-[2px] h-[6px] content-[''] rounded-sm;
            background-color: $ACCENT-BACKGROUND;
            animation: now-playing 1000ms infinite;
            animation-delay: 500ms;
          }

          &::before {
            @apply -left-[4px];
          }

          &::after {
            @apply -right-[4px];
          }

          @keyframes now-playing {
            0% {
              @apply h-[6px];
            }

            50% {
              @apply h-3;
            }

            100% {
              @apply h-[6px];
            }
          }
        }

        p {
          color: $ACCENT-TEXT;
        }
      }
    }
  }

  &_image {
    @apply relative overflow-hidden;
    border: 1px solid $DIVIDER;

    &::before {
      @apply absolute inset-0 content-[''];
    }

    img {
      @apply w-full h-full;
    }
  }

  &_info {
    @apply flex flex-col flex-grow justify-between;

    &_title {
      @apply w-fit min-w-[25%];

      h4 {
        @include text(body);
        @apply cursor-pointer inline-block m-0 overflow-hidden;
        color: $PRIMARY-TEXT;

        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    &_author {
      @apply w-fit min-w-[20%];

      p {
        @include text(caption);
        @apply m-0;
      }
    }
  }

  &_actionlist {
    @apply flex gap-4 items-center;

    &_item {
      @apply w-6 h-6 overflow-hidden;
    }
  }
}

.o-song-card-list {
  $root: &;

  @apply ml-2;

  &_title {
    @apply sticky top-0 left-0 z-10 px-2 p-1 pb-3;
    background-color: $BODY-BACKGROUND;

    h2 {
      @include text(heading);
      @apply m-0;
      color: $PRIMARY-TEXT;
    }
  }

  &.-grid {
    #{$root}_content_inner {
      @apply flex w-full select-none;
    }
  }
}

@media screen and (max-width: 1024px) {
  .o-song-card-list {
    $root: &;

    &_info {
      &_title {
        h4 {
          @apply text-xs;
        }
      }
    }
  }
}
