.o-song-card {
  $root: &;

  display: flex;
  padding: rem(8);

  &:hover {
    // background-color: $HOVER_OVERLAY;
  }

  &.-horizontal {
    flex-direction: row;
    gap: rem(16);
    border-radius: rem(4);

    #{$root}_image {
      $song-card-horizontal-image-width: 40px;
      $song-card-horizontal-image-height: 40px;

      width: $song-card-horizontal-image-width;
      height: $song-card-horizontal-image-height;
      border-radius: rem(4);
    }

    #{$root}_time {
      min-width: 64px;
      margin: auto;
      text-align: center;

      time {
        // @include text(caption);

        user-select: none;
      }
    }
  }

  &.-vertical {
    position: relative;
    flex-direction: column;
    gap: rem(8);
    width: fit-content;
    border-radius: rem(8);

    &:hover {
      #{$root}_actionlist {
        visibility: visible;
      }
    }

    #{$root}_image {
      $song-card-vertical-image-width: 200px;
      $song-card-vertical-image-height: 200px;

      width: $song-card-vertical-image-width;
      height: $song-card-vertical-image-height;
      border-radius: rem(8);
    }

    #{$root}_info {
      gap: rem(4);
    }

    #{$root}_time {
      display: none;
    }

    #{$root}_actionlist {
      $song-card-actionlist-top: calc(200px - 24px);

      position: absolute;
      top: $song-card-actionlist-top;
      right: 16px;
      visibility: hidden;
    }
  }

  &.-is-playing {
    #{$root}_info {
      &_author {
        display: flex;
        gap: rem(8);
        align-items: center;

        span {
          position: relative;
          display: flex;
          align-items: center;
          width: 2px;
          height: 12px;
          margin: 0 rem(4);
          // background-color: $ACCENT-BACKGROUND;
          border-radius: rem(1);
          animation: now-playing 1000ms infinite;

          &::before,
          &::after {
            position: absolute;
            display: block;
            width: 2px;
            height: 6px;
            content: '';
            // background-color: $ACCENT-BACKGROUND;
            border-radius: 1px;
            animation: now-playing 1000ms infinite;
            animation-delay: 500ms;
          }

          &::before {
            left: -4px;
          }

          &::after {
            right: -4px;
          }

          @keyframes now-playing {
            0% {
              height: 6px;
            }

            50% {
              height: 12px;
            }

            100% {
              height: 6px;
            }
          }
        }

        p {
          // color: $ACCENT-TEXT;
        }
      }
    }
  }

  &_image {
    position: relative;
    overflow: hidden;
    // border: 1px solid $DIVIDER;

    &::before {
      position: absolute;
      inset: 0;
      content: '';
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &_info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    &_title {
      width: fit-content;
      min-width: 25%;

      h4 {
        // @include text(body);
        cursor: pointer;
        display: inline-block;
        margin: 0;
        // color: $PRIMARY-TEXT;
      }
    }

    &_author {
      width: fit-content;
      min-width: 20%;

      p {
        // @include text(caption);

        margin: 0;
      }
    }
  }

  &_actionlist {
    display: flex;
    gap: rem(16);
    align-items: center;

    &_item {
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
  }
}

.o-song-card-list {
  $root: &;

  display: flex;
  flex-direction: column;
  gap: rem(16);

  &_title {
    display: inline-block;
    width: fit-content;
    padding: 0 rem(8);

    h2 {
      // @include text(heading);

      margin: 0;
      // color: $PRIMARY-TEXT;
    }
  }

  #{$root}_content {
    height: calc(100vh - 140px);
    overflow: auto;
  }

  &.-grid {
    #{$root}_content {
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    #{$root}_content_inner {
      display: flex;
      width: 100%;
      user-select: none;
    }
  }
}
