.a-button {
  $root: &;
  $button-transition-duration: 0.1s;
  $button-disabled-opacity: 0.32;
  $button-active-scale: 0.99;

  position: relative;
  display: inline-flex;
  gap: pxtorem(8);
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: pxtorem(8) pxtorem(16);
  color: $PRIMARY-TEXT;
  user-select: none;
  background-color: $INTERACTIVE-BACKGROUND;
  border: none;
  border-radius: pxtorem(4);
  outline: none;
  transition: all $button-transition-duration;

  &:active {
    transform: scale($button-active-scale);
  }

  &:hover {
    &::before {
      position: absolute;
      inset: 0;
      content: '';
      background-color: $HOVER-OVERLAY;
      border-radius: inherit;
    }
  }

  &.-full-width {
    width: 100%;
  }

  &.-disabled {
    pointer-events: none;
    opacity: $button-disabled-opacity;
  }

  &_addon {
    $button-addon-width: 24px;
    $button-addon-height: 24px;

    width: $button-addon-width;
    height: $button-addon-height;
    overflow: hidden;
  }

  &_text {
    @include text(button);

    text-transform: uppercase;
  }

  &.-circle {
    padding: pxtorem(8);
    border-radius: 999px;
  }
}
