$WIDTH-DESKTOP-NAVIGATION: 260px;

.t-main-layout {
  $root: &;

  @apply relative flex flex-col h-screen;

  .wrap-main {
    @apply flex flex-col flex-1 h-[calc(100%-112px)];

    &_main {
      @apply relative flex-1 px-1 overflow-y-auto;

      &::-webkit-scrollbar-thumb {
        background-color: $MODAL-OVERLAY;
      }
    }
  }
}

@media screen and (min-width: $DESKTOP-MIN-WIDTH) {
  .t-main-layout {
    $root: &;

    @apply pb-0;

    &_navigation {
      @apply absolute top-16 left-0;
      width: #{$WIDTH-DESKTOP-NAVIGATION};
    }

    .wrap-main {
      @apply relative flex-row h-auto overflow-y-auto;
      padding-left: #{$WIDTH-DESKTOP-NAVIGATION};

      &::-webkit-scrollbar-thumb {
        background-color: $MODAL-OVERLAY;
      }

      &_main {
        @apply px-4 pb-4 h-max min-h-full;

        border-left: 1px solid $DIVIDER;
        border-right: 1px solid $DIVIDER;
        overflow-y: unset;

        &_content {
          @apply flex-1 min-h-full;
        }
      }

      &_player-controls {
        @apply sticky top-0 flex flex-col justify-end w-[300px];
      }
    }
  }
}
