.t-main-layout {
  $root: &;

  @apply relative flex h-screen;

  &.-mobile {
    @apply absolute inset-0 flex-col;

    #{$root}_main {
      @apply pt-4 px-4 relative flex-grow;
    }

    #{$root}_navigation {
      @apply h-14 w-14;
      background-color: $NAVIGATION-BACKGROUND;
    }
  }

  &.-desktop {
    #{$root}_sidebar {
      @apply flex flex-col gap-4;

      &.-left {
        @apply w-[280px] min-w-[280px];
        border-right: 1px solid $DIVIDER;
      }

      &.-right {
        @apply flex flex-col gap-4 h-auto mt-auto;
        border-left: 1px solid $DIVIDER;

        #{$root}_sidebar_header-settings {
          @apply h-14 min-h-[14px];
        }

        #{$root}_sidebar_recent {
          @apply flex-grow;
        }
      }

      &_header {
        @apply h-[72px] min-h-[72px];
      }
    }

    #{$root}_main {
      @apply border-r border-l border-solid border-[#1c1c1c] relative flex-col flex-grow gap-4 min-w-[50%];

      &_header {
        @apply h-[72px] min-h-[72px];
      }
    }
  }

  &_body {
    @apply grid pt-4;
    grid-template-columns:
      250px
      min(100%, 100% - 610px)
      360px;
  }
}

.c-app-default_player-controls {
  &.-mobile {
    background-color: $PLAYER-CONTROLS-BACKGROUND;

    &.-full {
      @apply fixed inset-0 z-50 h-full p-4;
    }
  }

  &.-desktop {
    @apply p-4;
  }
}
