.m-progress-bar {
  $root: &;

  &.-is-interactive {
    @apply py-1;

    &:hover,
    &.-is-draging {
      #{$root}_value {
        &::before {
          background-color: $ACCENT-BACKGROUND !important;
        }
      }
    }

    #{$root}_value {
      @apply h-2 rounded-full;
    }
  }

  &_value {
    $progress-bar-current-value-translate-x: calc(
      -100% + var(--progress-bar-transform, 0%)
    );
    @apply relative h-[2px] overflow-hidden;
    background-color: $INTERACTIVE-BACKGROUND;

    &::before {
      @apply absolute w-full;
      height: inherit;
      content: '';
      background-color: $CONTRAST-BACKGROUND;
      border-radius: inherit;
      transform: translateX($progress-bar-current-value-translate-x);
    }
  }
}
