.m-progress-bar {
  $root: &;

  &.-is-interactive {
    padding: rem(4) 0;

    &:hover,
    &.-is-draging {
      #{$root}_value {
        &::before {
          background-color: $ACCENT-BACKGROUND !important;
        }
      }
    }

    #{$root}_value {
      $progress-bar-value-interactive-height: 8px;

      height: $progress-bar-value-interactive-height;
      border-radius: 999px;
    }
  }

  &_value {
    $progress-bar-value-height: 2px;
    $progress-bar-current-value-translate-x: calc(
      -100% + var(--progress-bar-transform, 0%)
    );

    position: relative;
    height: $progress-bar-value-height;
    overflow: hidden;
    background-color: $INTERACTIVE-BACKGROUND;

    &::before {
      position: absolute;
      width: 100%;
      height: inherit;
      content: '';
      background-color: $CONTRAST-BACKGROUND;
      border-radius: inherit;
      transform: translateX($progress-bar-current-value-translate-x);
    }
  }
}
