/* #region COLOR-BASE */
$COLOR-TRANSPARENT: transparent;
$COLOR-WHITE: rgb(255, 255, 255);
$COLOR-BLACK: rgb(0, 0, 0);
/* #endregion */

/* #region FONT-FAMILY */
$FONTFAMILY-BASIC: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
/* #endregion */

/* #region FONT-SIZE html */
$FONT-SIZE-HTML-VALUE: 16;
$FONT-SIZE-HTML: 16px;
/* #endregion */
