/* #region COLOR-BASE */
$INTERACTIVE-BACKGROUND: rgba(var(--interactive-background, 30 30 30) / 100%);
$COLOR-TRANSPARENT: transparent;
$COLOR-WHITE: rgb(255, 255, 255);
$COLOR-BLACK: rgb(0, 0, 0);
$PRIMARY-TEXT: rgba(var(--primary-text, 219 219 219) / 100%);
$HOVER-OVERLAY: rgba(var(--hover-overlay, 255 255 255) / 4%);
$BODY-BACKGROUND: rgba(var(--body-background, 18 18 18) / 100%);
$SECONDARY-TEXT: rgba(var(--secondary-text, 176 176 176) / 100%);
$MODAL-BACKGROUND: rgba(var(--modal-background, 24 24 24) / 100%);
$LOADING-BACKGROUND: rgba(var(--loading-background, 34 34 34) / 100%);
$DIVIDER: rgba(var(--divider, 29 29 29) / 100%);
/* #endregion */

/* #region FONT-FAMILY */
$FONTFAMILY-BASIC: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
/* #endregion */

/* #region FONT-SIZE html */
$FONT-SIZE-HTML-VALUE: 16;
$FONT-SIZE-HTML: 16px;
/* #endregion */

$PRIMARY-TEXT: rgba(var(--primary-text, 219 219 219) / 100%);
$SECONDARY-TEXT: rgba(var(--secondary-text, 176 176 176) / 100%);
$ACCENT-TEXT: rgba(var(--accent-text, 37 192 174) / 100%);
$CONTRAST-TEXT: rgba(var(--contrast-text, 32 32 32) / 100%);

$BODY-BACKGROUND: rgba(var(--body-background, 18 18 18) / 100%);
$SIDEBAR-BACKGROUND: rgba(var(--sidebar-background, 16 16 16) / 100%);
$INTERACTIVE-BACKGROUND: rgba(var(--interactive-background, 30 30 30) / 100%);
$ACCENT-BACKGROUND: rgba(var(--accent-background, 37 192 174) / 100%);
$LOADING-BACKGROUND: rgba(var(--loading-background, 34 34 34) / 100%);
$MODAL-BACKGROUND: rgba(var(--modal-background, 24 24 24) / 100%);
$PLAYER-CONTROLS-BACKGROUND: rgba(
  var(--player-controls-background, 0 0 0) / 100%
);
$NAVIGATION-BACKGROUND: rgba(var(--navigation-background, 0 0 0) / 100%);
$CONTRAST-BACKGROUND: rgba(var(--contrast-background, 255 255 255) / 100%);

$HOVER-OVERLAY: rgba(var(--hover-overlay, 255 255 255) / 4%);
$MODAL-OVERLAY: rgba(var(--modal-overlay, 255 255 255) / 6%);

$DIVIDER: rgba(var(--divider, 29 29 29) / 100%);

$DESKTOP-MIN-WIDTH: 1024px;
