.m-nav {
  $root: &;
  $nav-slider-horizontal-top: calc(50% + 16px);
  $nav-slider-horizontal-left: calc(
    var(--nav-item-active-left) + var(--nav-item-active-width) / 2 - 12px
  );
  $nav-slider-horizontal-width: 24px;
  $nav-slider-horizontal-height: 3px;
  $nav-slider-vertical-top: var(--nav-item-active-top);
  $nav-slider-vertical-right: 0;
  $nav-slider-vertical-width: 3px;
  $nav-slider-vertical-height: 40px;

  position: relative;
  display: flex;
  list-style: none;

  &::before {
    position: absolute;
    content: '';
    background-color: $ACCENT-BACKGROUND;
    border-radius: 999px;
    transition: 300ms;
  }

  &.-horizontal {
    &::before {
      top: $nav-slider-horizontal-top;
      left: $nav-slider-horizontal-left;
      width: $nav-slider-horizontal-width;
      height: $nav-slider-horizontal-height;
    }
  }

  &.-vertical {
    flex-direction: column;
    gap: pxtorem(8);

    &::before {
      top: $nav-slider-vertical-top;
      right: $nav-slider-vertical-right;
      width: $nav-slider-vertical-width;
      height: $nav-slider-vertical-height;
    }

    #{$root}_divider {
      $nav-divider-height: 1px;

      width: 100%;
      padding: pxtorem(8) pxtorem(16);

      span {
        display: block;
        width: 100%;
        height: $nav-divider-height;
        background-color: $DIVIDER;
      }
    }
  }

  &_item {
    $nav-item-full-height: 40px;

    display: flex;

    &.-mini {
      flex-grow: 1;
      justify-content: center;
      padding: pxtorem(16);
    }

    &.-full {
      align-items: center;
      justify-content: initial;
      height: $nav-item-full-height;
      padding: 0 0 0 pxtorem(16);
      color: $SECONDARY-TEXT;

      &:hover {
        color: $PRIMARY-TEXT;
      }

      #{$root}_item_name {
        display: initial;
        margin: 0 0 0 pxtorem(8);
        font-size: pxtorem(14);
      }
    }

    &.-active {
      #{$root}_item_name {
        color: $ACCENT-TEXT;
      }
    }

    &_icon {
      $nav-item-icon-width: 24px;
      $nav-item-icon-height: 24px;

      width: $nav-item-icon-width;
      height: $nav-item-icon-height;
      overflow: hidden;
    }

    &_name {
      @include text(body);

      display: none;
    }

    &_divider {
      display: none;
    }
  }
}
